<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="NSS APP"
        android:icon="@drawable/img"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <activity
            android:name=".login_regester.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".login_regester.UserAdminActivity"
            android:exported="false" />


        <activity
            android:name=".login_regester.AdminLoginActivity"
            android:exported="false" />
        <activity
            android:name=".login_regester.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".login_regester.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".man_side.mam_side"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />


        <activity
            android:name=".Support"
            android:exported="false" />
        <activity
            android:name=".contact"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>




</manifest>